In [59]:
import pandas as pd
from customer_variations import customer_variations

In [44]:
data = {
    "name": ["Rinrada", "Mimisioling"],
    "location": ["BKK","Taiwan"],
    "customer": ["GITHUB","กิตฮับบึค"]
}

In [45]:
df = pd.DataFrame(data)

In [46]:
df.head()

          name location   customer
0      Rinrada      BKK     GITHUB
1  Mimisioling   Taiwan  กิตฮับบึค

In [61]:
def clean_eng_customerof(value):
    if value in customer_variations: return 'Github'

In [62]:
newdf = df.copy(deep=True)
newdf['customer'] = newdf['customer'].map(clean_eng_customerof)

In [63]:
newdf

          name location customer
0      Rinrada      BKK   Github
1  Mimisioling   Taiwan   Github

In [50]:
# df.apply all df apply function
# df.map just only col selected -> for casual understanding that we only selected specific col to func.